.form {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid #000000;
    color:white;
    background: linear-gradient(to left, #dc6709, #67300d) !important;

}

.form a{
    color:white;
  }
  

  
  .elemGroup {
    margin: 20px 0;
  }
  
  .cd_main{
    margin-top:50px;
  }

  h1{
    text-align: center;
  }
  
  .elemGroup.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
  }
  
div.elemGroup label {
    display: block;
    padding-bottom: 10px;
    font-size: 1.25em;
    color:white;
  }
  
 div.elemGroup input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    width: 100%;
    padding: 10px;
  }
  
  .elemGroup.inlined input {
    width: 95%;
    display: inline-block;
  }

  div.elemGroupAddress label{
    font-size:1.0em;
    margin:10px;
    }

    div.elemGroupAddress input{
        border-radius: 2px;
        border: 2px solid #777;
        box-sizing: border-box;
        font-size: 1.25em;
        width: 80px;
        padding: 10px;
    
    }

    div.elemGroupIn input {
      width: 95%;
      display: inline-block;
  }
  
  div.elemGroupIn {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
}
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  .buttonForm {
    height: 50px;
    background: linear-gradient(to left, #dc6709, #67300d) !important;
    border: none;
    color: white;
    font-size: 1.25em;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 12px;
  }
  
  .buttonForm:hover {
    box-shadow: rgb(103, 48, 13) 0 20px 30px;
    transition-duration: .1s;
  }
  
  .select{
    margin-top:30px;
    width:200px;
  }