.container{
    background: white;
    border:2.5px solid #333333;
    height: max-content;
    width: 100%;
    margin-top:100px;
}

.container h1{
    text-align: center;
}

.container{
    margin-bottom:10px;
    
}

.container li{
    font-size:25px;
    margin-bottom:20px;
}
.button {
    border: 2px solid #333333;
    width: max-content;
    height: 40px;
    margin-right: 20px;
    background: linear-gradient(to right, #dc6709, #67300d) !important;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-bottom:20px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
    width: 100%;
    max-height: 80vh; 
    overflow-y: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
  }